{% extends 'base.html' %}

{% block content %}
    <div class='p-5 bg-light text-center'  style='height:30em;'>
        <h1>Logistic Regression</h1>
        <p>Predict Titanic Passenger Surival with Machine Learning</p>
        <br>
        {% if not data %}
        <form action='/titanic' method='POST' enctype="multipart/form-data">
            <div class='form-group'>
                <input type='file' class='form-control' name='input_csv_titanic' placeholder='Upload'>
                <p class='help-block text-left'>csv files only</p>
                <input class='btn btn-primary btn-large' type='submit' value='Submit'>
            </div>
        </form>
        {% else %}
        <div class='p-2 h-75 table-responsive border border-secondary shadow-lg' style='overflow:auto;'>
            <table>{{data|safe}}</table>
        </div>

        {% endif %}

    </div>
{% endblock %}